* {
    margin: 0;
    padding: 0;
  }
  
  h1 , h3{
      text-align: center;
      text-decoration: underline;
      padding: 10px;
  }

  table{
    text-align: center;
    margin: 1em;
  }
  
  thead{
    background-color: lightblue;
  }

  .tb{
    margin-top: 30px;
  }
  thead{
    margin-bottom: 40px;
  }